@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<div class="modal fade" id="deleteRoomModal" tabindex="-1" aria-labelledby="deleteRoomModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title" id="deleteRoomModalLabel">@Localizer["Confirm Delete"]</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Localizer["Sure"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteRoomBtn">@Localizer["Delete"]</button>
            </div>
        </div>
    </div>
</div>
