@model List<RoomViewModel>

@{
    ViewData["Title"] = "Index";
}

<!-- Page Title -->
<div class="page-title light-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Rooms</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Rooms</li>
            </ol>
        </nav>
    </div>
</div>



<section id="rooms-2" class="rooms-2 section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">


        <div class="rooms-grid" data-aos="fade-up" data-aos-delay="300">
            <div class="row g-4">
                @foreach (var room in Model)
                {
                    <partial name="_RoomCard" model="room" />
                }
            </div>
        </div>
        <partial name="_DeleteModal"/>
        <div class="load-more-section" data-aos="fade-up" data-aos-delay="400">
            <div class="text-center">
                <button class="btn-load-more" id="LoodMoreRoomsBtn">
                    <i class="bi bi-arrow-down-circle"></i>
                    Load More Rooms
                </button>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <script>
        // delte from front end
        let deleteRoomId = 0;


        document.querySelectorAll(".delete-room-btn").forEach(btn => {
            btn.addEventListener("click", function(){
                deleteRoomId = this.getAttribute("data-id");
                // store room id in deleteRoomId
            });
        });

        document.getElementById("confirmDeleteRoomBtn").addEventListener("click", function(){
            fetch(`/Room/DeleteConfirmed?roomId=${deleteRoomId}`, {
                method: 'POST'
               // headers: { 'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() }
            })
            .then(response => {
                if (!response.ok) throw new Error("Delete failed");
                return response.json();
            })
            .then(data => {
                if(data.success){
                    // hide modal
                    var modalEl = document.getElementById('deleteRoomModal');
                    var modal = bootstrap.Modal.getInstance(modalEl);
                    modal.hide();

                    // delet room from index
                    document.querySelector(`.room-card[data-id="${deleteRoomId}"]`).remove();
                } else {
                    alert("Delete failed!");
                }
            })
            .catch(error => console.error(error));
        });
    </script>
}
